@import 'constants';

.modal-header {
  font-size: 1.25rem;
  font-weight: bold;
  padding: 1.5rem 1.5rem 1.25rem;
}

.modal-body {
  color: $black-secondary-color;
  font-size: 1rem;
  padding: 0 1.5rem 1.5rem;
}

.modal-footer {
  float: right;
  height: 3.25rem;
  padding: .5rem 1.5rem;
}
